<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">MarketingApp</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rerum natus iusto provident numquam recusandae quaerat atque saepe expedita enim non placeat, qui architecto eligendi velit quibusdam ut obcaecati. Soluta?</p>
        </div>
    </div>
</header>