@model Product

<div class="card mb-2">
    <img src="~/images/@Model.ImageUrl" alt="" class="card-img-top" style="height: 180px;">
    <div class="card-body">
        <h5 class="card-tittle">@Model.ProductName</h5>
        <small class="text-muted">
            <i class="fas fa-lira-sign"></i>@Model.ProductPrice
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">İncele</a>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                <input type="hidden" name="productId" value="@Model.ProductId">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-primary btn-sm">Sepete Ekle</button>
            </form>
        }
    </div>
</div>