<form action="/shop/search" class="form-inline my-2 my-lg-0">
    <input name="q" type="text" class="form-control mr-sm-2" placeholder="Search">
    <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Search</button>
</form>