@model AdminProductModel
<h1 class="h3">Create Product</h1>
<hr>

<form asp-controller="Admin" asp-action="CreateProduct" method="POST">
<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">

  <div class="col md-8">

    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label asp-for="ProductName"></label>
        <input class="form-control" asp-for="ProductName">
        <span asp-validation-for = "ProductName" class="text-danger"></span>
      </div>
      
      <div class="form-group col-md-6">
        <label asp-for="Url"></label>
        <input class="form-control" asp-for="Url">
        <span asp-validation-for = "Url" class="text-danger"></span>
      </div>
    
    </div>
    
    <div class="form-group">
      <label asp-for="Description"></label>
      <textarea class="form-control" asp-for="Description"></textarea>
      <span asp-validation-for = "Description" class="text-danger"></span>
    </div>
    
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label asp-for="ProductPrice"></label>
        <input class="form-control" asp-for="ProductPrice">
        <span asp-validation-for = "ProductPrice" class="text-danger"></span>
      </div>
      
      <div class="form-group col-md-4">
        <label asp-for="ImageUrl"></label>
        <input class="form-control" asp-for="ImageUrl">
        <span asp-validation-for = "ImageUrl" class="text-danger"></span>
      </div>
   
    </div>
    
    <button type="submit" class="btn btn-primary">Kaydet</button>
    
    </div>
    
    <div class="col-md-4">

      @foreach (var item in (List<Category>)ViewBag.Categories)
      {
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" 
                name="categoryIds"
                value="@item.CategoryId"
                id="category_@(item.CategoryId)">
            <label class="custom-control-label" for="category_@(item.CategoryId)">@item.CategoryName</label>
          </div>
      }

      <div class="custom-control custom-switch mt-4">
        <input class="custom-control-input" type="checkbox" asp-for="IsApproved">
        <label class="custom-control-label" asp-for="IsApproved"></label>
      </div>

      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" asp-for="IsHomePage">  
        <label class="custom-control-label" asp-for="IsHomePage"></label>
      </div>
    
    </div>
</div>  
</form>
<script>
  $(function() {
  enable_cb();
  $("#IsApproved").click(enable_cb);
});

function enable_cb() {
    $("#IsHomePage").prop("disabled", !this.checked);
}

</script>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}