@model ProductListViewModel

<h1>Admin Products</h1>
<hr>
<a asp-controller="admin" asp-action="CreateProduct" class="badge badge-primary mb-3">Yeni Ürün Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="width: 30px;">Id</td>
            <td style="width: 100px;">Image</td>
            <td>Name</td>
            <td style="width: 20px;">Price</td>
            <td style="width: 20px;">IsApproved</td>
            <td style="width: 20px;">IsHomePage</td>
            <td style="width: 150px;"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products.Count > 0)
        {
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td><img src="~/images/@item.ImageUrl" width="80"></td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>
                        @if (item.IsApproved)
                        {
                            <i class="fas fa-check-circle"></i>
                        }
                        else{
                            <i class="fas fa-times-circle"></i>
                        }
                    </td>
                    <td>
                        @if (item.IsHomePage)
                        {
                            <i class="fas fa-check-circle"></i>
                        }
                        else
                        {
                            <i class="fas fa-times-circle"></i>
                        }
                    </td>
                    <td>
                        <a href="/admin/ürünler/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                        
                        <form action="/admin/DeleteProduct" method="POST" style="display: inline;">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        }
        else
            @await Html.PartialAsync("_noproduct")
        
    </tbody>
</table>