@model LoginModel

<form asp-controller="Account" asp-action="Login" method="POST">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
<div asp-validation-summary = "All" class="text-danger"></div>

<div class="container">    
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-3">
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group row">
      <label asp-for="Password" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-3">
      <input class="form-control" asp-for="Password">
      <span asp-validation-for="Password" class="text-danger"></span>
      </div>
    </div>

      <button type="submit" class="btn btn-primary ml-12">Giriş</button>
    <div class="form-group row">
      <a href="/account/forgotpassword" class="btn btn-link">Şifremi unuttum</a>
    </div>
    
  </div>
</form>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}