@model RegisterModel

<form asp-controller="Account" asp-action = "Register" method="POST">
<div asp-validation-summary = "All" class = "text-danger"></div>
  
  <div class="form-row">
    
    <div class="col-md-4 mb-3">
      <label asp-for="FirstName"></label>
      <input class="form-control" asp-for="FirstName">
      <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div class="col-md-4 mb-3">
      <label asp-for="LastName"></label>
      <input class="form-control" asp-for="LastName">
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    
    <div class="col-md-4 mb-3">
      <label asp-for="UserName"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <input class="form-control" aria-describedby="inputGroupPrepend2" asp-for="UserName">
      </div>
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  
  </div>
  
  <div class="form-row">
    
    <div class="col-md-6 mb-3">
      <label asp-for="Email"></label>
      <input class="form-control" asp-for="Email" placeholder = "name@example.com">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="col-md-3 mb-3">
      <label asp-for="Password"></label>
      <input class="form-control" asp-for = "Password">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="col-md-3 mb-3">
      <label asp-for="RePassword"></label>
      <input class="form-control" asp-for = "RePassword">
      <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>
  
  </div>
  
  <button class="btn btn-primary" type="submit">Kayıt Ol</button>
</form>

@section Scripts
{
  <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}